header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background: transparent;
  border-bottom: 10px;
  top: 0;
  left: 0;
  right: 0;
  opacity: 100%;
  transition-duration: 0.5s;
  transition-delay: .5s;
}

.hidden {
  opacity: 0%;
  transition-duration: .5s;
  transition-delay: 0s;
}

header img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}

header .logo a {
  display: inline-block;
  padding: 10px 10px 7px 20px;
}

header ul {
  margin: 0;
  padding: 3px 10px 0 0;
  list-style: none;
  flex: 1;
  text-align: center;
}

header li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

header li a {
  display: inline-block;
  padding: 15px 10px;
  text-decoration: none;
}

header li a:hover {
  text-decoration: underline;
}
