img {
  width: 100%;
  height: auto;
  margin-bottom: var(--lvol-standard-gap);
  border-radius: var(--lvol-standard-border-radius);
}

.zoomed {
  position: fixed;
  max-height: 95%;
  width: auto;
  max-width: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.zoomed-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  z-index: 999;
}

.gallery {
  columns: 12rem;
  column-gap: var(--lvol-standard-gap);
}
